<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>请求数据</title>
</head>
<body>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>请求数据</title>
    <!--    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />-->
    <!--    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="http://www.itxst.com/package/jquery-3.3.1/jquery.js"></script>
    <link href="http://www.itxst.com/package/bootstrap-table-1.15.3/bootstrap-table.css" rel="stylesheet"/>
    <script src="http://www.itxst.com/package/bootstrap-table-1.15.3/bootstrap-table.js"></script>
</head>

<body>
<div class="container">
    <!--顶部导航-->
    <div class="row" th:insert="~{public :: public_top}">
    </div>
    <br/>
    <!--内容-->
    <div class="row">
        <div class="col-sm-2" th:insert="~{public :: public_left}">
        </div>
        <div id="toolbar">
            <button onclick="sendToSelects(),alert('成功发送数据')">向所选目标发送数据</button>
            <button onclick="addRequestLine(),alert('成功接收新的数据请求')">接收新的数据请求</button>
        </div>
        <div class="col-sm-10">
            <h3>未发送</h3>
            <table id="unsend_table" class="table table-hover"></table>
            <h3>已发送</h3>
            <table id="sended_table" class="table table-hover"></table>
        </div>
        <script>
            //当前表格的行数 初始为5
            var itemNum = 5;
            //设置需要显示的列
            var columnsUnsend = [
                {
                    checkbox: true
                },
                {
                    field: "no",
                    title: '序号',
                    sortable: true,
                },
                {
                    field: 'ID',
                    title: '编码',
                },
                {
                    field: 'date',
                    title: '请求时间',
                },
                {
                    field: 'disasterType',
                    title: '请求的灾情类型',
                },
                {
                    field: 'o_URL',
                    title: '发送地址',
                },
                {
                    field: 'requestUnit',
                    title: '请求单位',
                },];
            var columnsSended = [
                {
                    field: "no",
                    title: '序号',
                    sortable: true,
                },
                {
                    field: 'ID',
                    title: '编码',
                },
                {
                    field: 'date',
                    title: '请求时间',
                },
                {
                    field: 'disasterType',
                    title: '请求的灾情类型',
                },
                {
                    field: 'o_URL',
                    title: '发送地址',
                },
                {
                    field: 'requestUnit',
                    title: '请求单位',
                },];

            //bs table初始化数据 表内数据由getData()得到
            $('#unsend_table').bootstrapTable({
                toolbar: "#toolbar",
                data: getData(),
                columns: columnsUnsend,
                search: true,
                searchOnEnterKey: true,
            });
            $('#sended_table').bootstrapTable({
                data: getSended(),
                columns: columnsSended,
                search: true,
                searchOnEnterKey: true,
            });
            //删除选中行
            function sendToSelects() {
                var obj = $('#unsend_table');
                var obj2 = $('#sended_table');
                var selectContent = obj.bootstrapTable('getSelections');
                var ids = $.map(obj.bootstrapTable('getSelections'), function (row) {
                    return row.no
                });
                obj.bootstrapTable('remove', {field: 'no', values: ids});
                obj2.bootstrapTable('append',selectContent);
            }

            //接收新的数据请求（增加行）
            function addRequestLine() {
                var obj = $('#unsend_table');
                obj.bootstrapTable('insertRow', {
                    index: 0,
                    row: {
                        no: itemNum + 1,
                        ID: '5132211001001112134',
                        date: '12-5-2008-14:28',
                        disasterType: '生命线-通信',
                        o_URL: randomIP(),
                        requestUnit: '中国地震局',
                    }
                });
                itemNum++;
            }

            //生成随机数小函数
            function randomNum(minNum, maxNum) {
                switch (arguments.length) {
                    case 1:
                        return parseInt(Math.random() * minNum + 1, 10);
                        break;
                    case 2:
                        return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                        break;
                    default:
                        return 0;
                        break;
                }
            }

            function randomIP() {
                return randomNum(10, 250) + '.' + randomNum(10, 250) + '.' + randomNum(10, 250) + '.' + randomNum(10, 250);
            }

            //后端在这get表格数据
            function getData() {
                var data = [];
                for (var i = 0; i < 5; i++) {
                    var item = {
                        no: i + 1,
                        ID: '5132211001001112134',
                        date: '12-5-2008-14:28',
                        disasterType: '生命线-通信',
                        o_URL: randomIP(),
                        requestUnit: '中国地震局',
                    };
                    data.push(item);
                };
                return data;
            }
            
            function getSended() {
                var data = [];
                var item = {
                    no: 0,
                    ID: '5132211001001112134',
                    date: '12-5-2008-14:28',
                    disasterType: '生命线-通信',
                    o_URL: randomIP(),
                    requestUnit: '中国地震局',
                };
                data.push(item);
                return data;
            }
        </script>
    </div>
</div>
<script type="text/javascript" src="assets/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
</body>

</html>
</body>
</html>