<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>多源异构数据可视化系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align:center;margin-top: 15%;">
<h1>多源异构数据可视化系统</h1>
<div class="nav col-sm-3" style="margin-left: 37.5%;">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/index1">人员伤亡及失踪</a></li>
        <li><a href="/index2">房屋破坏</a></li>
        <li><a href="/202/CommDisaster">生命线工程灾情</a></li>
        <li><a href="/index3">次生灾害</a></li>
        <li><a href="/index4">震情</a></li>
        <li><a href="/disasterRequest">请求列表</a></li>
    </ul>
</div>
</body>
</html>