<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>多源异构数据可视化系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"><link>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align:center;margin-top: 15%;">
<h1>多源异构数据可视化系统</h1>
<p>查看<a href="/202/CommDisaster">通信系统灾情统计</a></p>
<p>查看<a href="/index1">业务报送数据</a></p>
<p>查看<a href="/index2">泛在感知数据</a></p>
<p>查看<a href="/disasterRequest">请求列表</a></p>
</body>
</html>